# Скопируйте этот файл в .env и заполните значения
TELEGRAM_TOKEN=8950972636:AAGhh_8Chr08p-iGW3HjFDKLdP07eCop0xs
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o
